.subject_middle .middle_left .card_box {
    width: 880px;
    margin: 0 auto;
}

.subject_middle .middle_left .card_box .card {
    display: block;
    width: 100%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 5px #f3f3f3;
    transform: translate3d(0, -4px, 0);
}


/* 中间左侧卡片头部 */
.subject_middle .middle_left .card_box .card .author_message {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: rgb(246, 246, 246);
    /* padding-bottom: 10px; */
}

.subject_middle  .operation_name {
    font-size: 14px;
    color: #666666;
    margin-left: 10px;
}


/* 他的主页.关注*/
.myHomepage_box .myHomepage_user_large_head .myHomepage_personal_brief_introduction {
    margin: 10px auto !important;
}

.myHomepage_box .myHomepage_user_large_head li a {
    display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px #57cdd4 solid;
}


/* 关注 */
.myHomepage_box .myHomepage_user_large_head li #follow_ta {
    color: #ffffff;
    background-color: #57cdd4;
    margin-right: 10px;
}

/* 正文内容 */
.text_box{
    display: inline-block !important;
    max-height: 60px !important;
    overflow: hidden !important;
    line-height: 30px;
} 
.text_box_show_more{
    max-height: 100% !important;
    transition: height 0.4s  !important;
}
.text .show_more{
    display: table;
    cursor: pointer;
    font-size: 12px;
    color: #999999;
}
.card .source{
    font-size: 16px;
    color: #222222;
    font-weight: bold;
    
}


.subject_middle .authorIntroduction_box{
    width: 880px;
 

}
.authorIntroduction{
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
}
.authorIntroduction .authorIntroduction_name{
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.authorIntroduction .authorIntroduction_text{
    color: #222222;
    line-height: 30px;
}