

/* 卡片 */
.subject_middle .middle_left .card_box {
    width: 880px;
    margin: 0 auto;
}

.subject_middle .middle_left .card_box .card {
    display: block;
    width: 100%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 5px #f3f3f3;
    transform: translate3d(0, -4px, 0);
}


/* 中间左侧卡片头部 */
.subject_middle .middle_left .card_box .card .author_message {
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgb(246, 246, 246);
    padding-bottom: 10px;
    
}

.subject_middle .middle_left .card_box .card .author_message .enter_TAhome {
   display: flex;
}

.subject_middle .middle_left .card_box .card .author_message .enter_TAhome .enter_TAhome_top {
    margin-left: 10px;
}

.subject_middle .middle_left .card_box .card .author_message .operation_name {
    font-size: 14px;
    color: #666666;
}
.other_reply{
    font-size: 16px;
    color: #222222;
    padding: 20px;
    border-top: 1px #eeeeee solid;
}
.operation_type,.operation_time{
font-size: 12px;
color: #999999;
}
/* 中间左侧,卡片中间部分的文本内容 */

.subject_middle .middle_left .card_box .card .text {
    font-size: 14px;
    color: #222222;
    line-height: 30px;
}


/* 中间左侧,卡片中间部分的关注操作内容 */

.subject_middle .middle_left .card_box .card .follow_operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject_middle .middle_left .card_box .card .follow_operation .details_of_followers {
    margin: 20px 0 10px 30px;
    display: flex;
}

.follow_operation .follow,.follow_operation .followed{
    margin-right: 20px;
}

.subject_middle .middle_left .card_box .card .follow_operation .details_of_followers .user_large_head_box {
    margin: 0;
}

.subject_middle .middle_left .card_box .card .follow_operation .details_of_followers .content_of_followers_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    margin: -5px 0 0 10px;
}

.subject_middle .middle_left .card_box .card .follow_operation .details_of_followers .content_of_followers_box li {
    width: 100%;
    /* margin-bottom: 10px; */
}

.subject_middle .middle_left .card_box .card .follow_operation .details_of_followers .content_of_followers_box li .follow_userName {
    margin-right: 20px;
    font-size: 14px;
    color: #222222;
}


/* 关注者的数据,文章,关注人数,喜欢人数 */

.subject_middle .middle_left .card_box .card .follow_operation .details_of_followers .content_of_followers_box .follow_user_data {
    font-size: 12px;
    color: #999999;
}

.subject_middle .middle_left .card_box .card .follow_operation .details_of_followers .content_of_followers_box .follow_user_data>span {
    margin-right: 10px;
}


/* 文章，喜欢，关注个数 */
.num_stylle {
    color: #222222;
}

