.subject_middle .middle_left .card_box {
    width: 880px;
    margin: 0 auto;
}

.subject_middle .middle_left .card_box .card {
    display: block;
    width: 100%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 5px #f3f3f3;
    transform: translate3d(0, -4px, 0);
    padding-bottom: 10px;
}

.subject_middle .middle_left .card_box .card .author_message_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding-bottom: 10px
}
.author_message_box .follow,.author_message_box .followed{
    margin-right: 20px;
}

.subject_middle .middle_left .card_box .card .author_message {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: rgb(246, 246, 246);
}


.subject_middle .middle_left .card_box .card .author_message .operation_name {
    font-size: 14px;
    color: #666666;
    margin-left: 10px;
}




/* 他的主页.关注,私信 */

.myHomepage_box .myHomepage_user_large_head .myHomepage_personal_brief_introduction {
    margin: 10px auto !important;
}

.myHomepage_box .myHomepage_user_large_head li a {
    display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px #57cdd4 solid;
}

/* 关注 */

.myHomepage_box .myHomepage_user_large_head li #follow_ta {
    color: #ffffff;
    background-color: #57cdd4;
    margin-right: 10px;
}

/* 私信 */
.myHomepage_box .myHomepage_user_large_head li #contact_ta {
    color: #57cdd4;
    background-color: #ffffff;
}